<launch>

  <!-- <rosparam command="load" file="$(find sphero_node)/config/sphero.yaml" /> -->
  <arg name="sk9495" default="true"/>
  <arg name="sk1270" default="true"/>

  <group if="$(arg sk9495)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_sk9495" ns="sphero_sk9495" respawn="true">
      <param name="address"  value="DA:82:DA:A9:94:95" />
      <param name="connect_red"  value="0" />
      <param name="connect_blue"  value="0" />
      <param name="connect_green"  value="255" />
    </node>
  </group>

  <group if="$(arg sk1270)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_sk1270" ns="sphero_sk1270" respawn="true">
      <param name="address"  value="D8:06:1C:CE:12:70" />
      <param name="connect_red"  value="255" />
      <param name="connect_blue"  value="0" />
      <param name="connect_green"  value="" />
    </node>
  </group>

  <node pkg="sphero_node" type="sphero_test.py" name="sphero_control">
    <param name="num_spheros"  value="2" />
  </node>

<!--  <node pkg="joy" type="joy_node" name="joy"/> -->

</launch>


<!--  Currently system paired robots
[sphero_gpb/sphero_www-10] killing on exit
[sphero_gbr/sphero_gbr-9] killing on exit
[sphero_rwp/sphero_rwp-7] killing on exit
[sphero_wwb/sphero_wwb-8] killing on exit
[sphero_rpg/sphero_rpg-6] killing on exit
[sphero_www/sphero_www-5] killing on exit
[sphero_pob/sphero_pob-4] killing on exit
[sphero_ypp/sphero_ypp-3] killing on exit


-->
